.app-logo {
	height: 5vmin;
	pointer-events: none;
	margin: 0 2rem;
}

h1 {
	color: #ef6c00 !important;
	font-size: 3.5rem;
	font-weight: 400;
	margin: 1rem 0 !important;
	letter-spacing: 2px;
}

.app-header {
	min-height: 2rem;
	width: 100%;
	align-content: center;
	font-size: calc(10px + 2vmin);
	background-color: #a7ffeb !important;
	box-shadow: 0 1px #ef6c00;
	position: fixed !important;
	z-index: 1 !important;
}
.menu-header {
	background-color: #a7ffeb !important;
	padding: 0 10rem !important;
	border: 0 !important;
}

.image-cover {
	background: transparent url('../assets/images/banner1.jpg');
	background-attachment: fixed !important;
	background-position: bottom right !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
	height: 55vh;
}

.main-content {
	min-height: 50vh;
	width: 100% !important;
	padding: 1rem 0;
}

.page-content {
	padding: 2rem 0 !important;
}

.grid {
	margin: 0 !important;
}

.loading,
.error-message {
	margin-top: 5rem;
	color: rgb(112, 76, 182);
}

.app-footer {
	background-color: #a7ffeb;
	height: 2.5rem !important;
	margin: 0 !important;
	border-top: 1px solid #ef6c00;
	color: #ef6c00;
	z-index: 1 !important;
	padding: 0.5rem;
}

.sticky-footer {
	position: fixed;
	bottom: 0 !important;
	width: 100%;
}

.copy-rights {
	font-size: small;
	float: right;
}
.contact {
	margin-left: 20px;
}

.not-image-found {
	width: 30% !important;
	height: 6rem !important;
}

.product-card-btn {
	float: right !important;
	background-color: #9c27b0 !important;
}

.product-carousel-btn {
	background-color: #a7ffeb !important;
	color: #9c27b0 !important;
}

.login-page,
.login-div {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-div {
	min-width: 25vw;
	min-height: 40vh;
	background-color: #704cb6;
	color: #fff;
	border: solid 2px #a7ffeb;
	border-radius: 5px;
	box-shadow: 6px 10px 6px 6px rgb(156, 39, 176, 0.3);
}

.login-form div {
	margin-bottom: 2rem;
	width: 100%;
}

.login-form-center {
	text-align: center !important;
}

.login-form button,
.orange-btn {
	margin: auto !important;
	background-color: #ef6c00 !important;
	color: #9c27b0 !important;
}

.small-btn {
	height: 2rem !important;
	max-width: 10rem;
	margin-bottom: 0.5rem !important;
}

.link-btn {
	padding: 0 !important;
	color: #fff !important;
}

.register-input input {
	width: 90% !important;
}
.register-input label,
.register-input i {
	color: #fff !important;
	font-weight: 700;
}

.login-pass {
	margin-bottom: 0 !important;
}

.login-pass i {
	color: #ef6c00 !important;
}

.monkey-avatar,
.image-selector {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-picture {
	width: 30vh;
	height: 30vh;
	border-radius: 15px;
	border: solid 1px #a7ffeb !important;
	background-color: rgba(239, 108, 0, 0.8) !important;
}

.profile-picture img {
	object-fit: cover;
}

.personal-data-container {
	width: 100%;
	min-height: 30vh;
	background-color: #704cb6;
	border-radius: 15px;
	padding: 1rem;
}

.action-btn {
	color: #ef6c00 !important;
}

.product-abstract {
	height: 4rem;
	overflow: hidden;
	white-space: initial;
	text-overflow: ellipsis;
}

.carousel-product {
	background-color: rgba(239, 108, 0, 0.8) !important;
	color: #fff !important;
	border: solid 2px #9c27b0 !important;
	margin: 2rem;
}

.card {
	padding: 1rem 0;
}

.carousel-products {
	margin: 3rem 0;
}

.contact-container {
	background-color: rgba(239, 108, 0, 0.8) !important;
	margin-bottom: 5rem !important;
	min-height: 55vh;
}

.contact {
	text-align: center;
}
.contact p {
	font-size: 1.5rem;
	color: #9c27b0;
	font-weight: 600 !important;
}

@media (prefers-reduced-motion: no-preference) {
	.app-logo {
		animation: app-logo-float infinite 3s ease-in-out;
	}
}

@media (max-width: 1000px) {
	.menu-header {
		padding: 0 2rem !important;
	}
	.image-cover {
		background-attachment: unset !important;
		height: 30vh;
	}
	.p-dialog {
		width: 90% !important;
	}
	.login-div {
		width: 90%;
	}
}

@keyframes app-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(6px);
	}
	100% {
		transform: translateY(0px);
	}
}

.user-data-form label {
	color: #ef6c00 !important;
	font-weight: bold;
}
